
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

body{
    background-color: rgb(113, 1, 1) !important;
}

.bg{
    background-image: url("img/movies.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logo{
    width: 100px;
    height: 40px;
    flex-direction: row;
    justify-content: center
}

.video_ {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.video_ li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border: 1px solid black;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif; 
}

.video_ li:hover {
    box-shadow: 5px 5px 5px 5px rgb(24, 24, 24);
}

.video_ li img {
    max-width: 300px;
    border-radius: 12px;

}

.video_ li h1{
    font-size: 1.8em;
    padding: 15px 10px 0;
    /* margin-top: auto; */
    
}

.trailer iframe{
    width: 100%;
    height: 500px;
}

.text{
    padding: 15px;
}
#input{
    width: 300px;

}
.bottom{
    width: 100%;
    height: 80px;
    background-color: rgb(33, 37, 41);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}
.icon{
    width: 40px;
    height: 40px;
    padding: 0 10px 10px 5px;
    
   
    
   
}
